

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.card {
  min-width: 300px;
  max-width: 500px;
  background-color: var(--panel);
  border: 1px solid var(--outline);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  color: var(--text);
  padding: 5px;
}
.card:hover {
  transform: translateY(-2px);
}


.questionTxtContainer {
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid var(--outline);
}
.questionTxt {
  font-size: 20px;
  text-align: left;
}

.answerTxtContainer {
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid var(--outline);
}
.answerTxt {
  font-size: 20px;
  text-align: left;
}


.questionAliasesContainer {
  padding: 5px 8px 5px 8px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}
.answerAliasesContainer {
  padding: 5px 8px 5px 8px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.noteContainer {
  padding: 7px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.noteTitle {
  font-size: 14px;
  color: var(--text-secondary);
}

.srsInfoContainer {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  color: var(--text-secondary);
  font-size: 14px;
}