@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --text: #ffffff;
  --text-secondary: #b3b3b3;
  --panel: #202020;
  --panel-h: #2e2e2e;
  --outline: #6e6e6e;
  --primary: #5770ff;
  --correct: #0f0;
  --incorrect: #f00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text: #ffffff;
    --text-secondary: #b3b3b3;
    --panel: #202020;
    --panel-h: #2e2e2e;
    --outline: #6e6e6e;
    --primary: #5770ff;
    --correct: rgb(0, 105, 0);
    --incorrect: rgb(141, 0, 0);
  }
}
/* theme selecting not implemented yet */


body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}

button {
  background-color: var(--panel);
  color: var(--text);
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--outline);
  border-radius: 6px;
  transition: 0.2s ease;
}
button:hover {
  background-color: var(--panel-h);
  transform: translateY(-2px);
}

input {
  border: 1px solid var(--outline);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px;
  color: var(--text);
}