.addCardTitle {
  font-size: 24px;
}
.addPopupInputGroup {
  margin: 10px;
}
.addPopupInfoContainer {
  width: 100%;
}
.addPopupInputBox {
  text-align: left;
  margin: 10px 0px;
}
.addPopupInputLabel {
  font-size: 17px;
}
.addPopupSpan {
  font-size: 14px;
  color: var(--text-secondary);
}
.addPopupInput {
  width: 100%;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.btnContainer {
  display: flex;
  justify-content: center;
}
.deleteBtnContainer {
  display: flex;
  justify-content: center;
  width: 130px;
}
.deleteConfirm {
  background-color: red;
}
.deleteConfirm:hover {
  background-color: red;
}
.saveBtnContainer {
  display: flex;
  justify-content: center;
  width: 180px;
}