.page {
  margin-top: 10px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.top {
  display: flex;
}

.addBtnContainer {
  margin-left: auto;
  margin-right: 10px;
}


@media (max-width: 1250px) {
  .page {
    width: 97%;
  }
}